.ul2 {
    display: block;
    float: left;
}

.anim {
    filter: grayscale(1);
    transition: 1s;
}
.anim:hover {
    filter: grayscale(0);
    transform:scale(1.5);
}

.wp {
    background: #f8f8f8;
    color: #363636;
}


